<a href="https://colab.research.google.com/github/Jason8521/Python_Study/blob/main/250422.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def cook_ramen(water=400, ramen="진라면", soup="매운맛"):
    print(f"{water}ml 물에 {ramen}과 {soup} 넣음")

In [ ]:
cook_ramen(ramen="신라면")

400ml 물에 신라면과 매운맛 넣음

In [ ]:
cook_ramen()

400ml 물에 진라면과 매운맛 넣음

In [ ]:
cook_ramen(ramen="진라면", soup="매운맛 스프", water=400)

400ml 물에 진라면과 매운맛 스프 넣음

In [ ]:
def cook_ramen(water, ramen, soup):
    print(f"{water}ml 물에 {ramen}과 {soup}을 넣습니다.")

cook_ramen(500, "신라면", "매운맛 스프")

cook_ramen(ramen="신라면", soup="매운맛 스프", water=500)

cook_ramen(soup="순한맛 스프", ramen="너구리", water=600)

500ml 물에 신라면과 매운맛 스프을 넣습니다.
500ml 물에 신라면과 매운맛 스프을 넣습니다.
600ml 물에 너구리과 순한맛 스프을 넣습니다.

In [ ]:
def cook_ramen(water=500, ramen="신라면", soup="매운맛 스프"):
    print(f"{water}ml 물을 끓입니다")
    print(f"{ramen}을 넣습니다.")
    print(f"{soup}을 넣습니다.")
    print("라면 완성!")

cook_ramen()
cook_ramen(600)
cook_ramen(600, "진라면")
cook_ramen(600, "진라면", soup="순한맛 스프")
cook_ramen(ramen="삼양라면", soup="치즈맛 스프", water=700)

500ml 물을 끓입니다
신라면을 넣습니다.
매운맛 스프을 넣습니다.
라면 완성!
600ml 물을 끓입니다
신라면을 넣습니다.
매운맛 스프을 넣습니다.
라면 완성!
600ml 물을 끓입니다
진라면을 넣습니다.
매운맛 스프을 넣습니다.
라면 완성!
600ml 물을 끓입니다
진라면을 넣습니다.
순한맛 스프을 넣습니다.
라면 완성!
700ml 물을 끓입니다
삼양라면을 넣습니다.
치즈맛 스프을 넣습니다.
라면 완성!

In [ ]:
def 고정상자(물건1,물건2):
    print(f"물건1:{물건1}, 물건2:{물건2}")

In [ ]:
고정상자("사과","바나나")

물건1:사과, 물건2:바나나

In [ ]:
def 고정상자(물건1, 물건2):
    print(f"첫 번째 물건: {물건1}")
    print(f"두 번째 물건: {물건2}")

고정상자("사과", "바나나")

첫 번째 물건: 사과
두 번째 물건: 바나나

In [ ]:
lst1 = ["사과", "바나나", "오렌지"]
lst1

['사과', '바나나', '오렌지']

In [ ]:
for 물건 in lst1:
    print(f"물건={물건}")

물건=사과
물건=바나나
물건=오렌지

In [ ]:
tp1 = ("사과", "오렌지", "바나나")
tp1

('사과', '오렌지', '바나나')

In [ ]:
tp1[1] = ("배")

TypeError: 'tuple' object does not support item assignment

In [ ]:
for 물건 in tp1:
    print(f"물건={물건}")

물건=사과
물건=오렌지
물건=바나나

In [ ]:
sum([10, 20, 30])

60

In [ ]:
sum([True, False, True, True])

3

In [ ]:
a = None
print(a)

None

In [ ]:
import random
def lucky():
    num = random.randint(0,7)   # 0~7 사이 난수
    print(f"num={num}")
    if num > 5:
        return "앗싸 좋다!!"

In [ ]:
message = lucky()
print(f"message={message}")

num=7
message=앗싸 좋다!!

In [ ]:
def 가변상자(*물건들):
    print("물건들 리스트")
    print(f"물건들={물건들}")
    for 물건 in 물건들:
        print(f"물건={물건}")
    print("함수 끝")

In [ ]:
가변상자()

물건들 리스트
물건들=()
함수 끝

In [ ]:
가변상자("사과","바나나","오렌지")

물건들 리스트
물건들=('사과', '바나나', '오렌지')
물건=사과
물건=바나나
물건=오렌지
함수 끝

In [ ]:
가변상자("노트북")

물건들 리스트
물건=노트북
함수 끝

In [ ]:
def 가변상자(*물건들):
    print("상자에 담긴 물건 목록:")
    for 물건 in 물건들:
        print(f"-{물건}")

가변상자("사과", "바나나", "오렌지")
가변상자("연필", "공책")
가변상자("노트북", "마우스", "키보드", "스피커")

상자에 담긴 물건 목록:
-사과
-바나나
-오렌지
상자에 담긴 물건 목록:
-연필
-공책
상자에 담긴 물건 목록:
-노트북
-마우스
-키보드
-스피커

In [ ]:
def 소개글만들기(이름, 나이, *취미들):
    print(f"안녕하세요, 저는 {이름}입니다.")
    print(f"저는 {나이}살입니다.")

    if 취미들:
        print("제 취미는 다음과 같습니다.")
        for 취미 in 취미들:
            print(f"-{취미}")
    else:
        print("취미는 아직 없습니다.")
    print()

소개글만들기("철수", 25, "축구", "독서", "게임")
소개글만들기("영희", 30, "요리", "등산")
소개글만들기("민수", 22)

안녕하세요, 저는 철수입니다.
저는 25살입니다.
제 취미는 다음과 같습니다.
-축구
-독서
-게임

안녕하세요, 저는 영희입니다.
저는 30살입니다.
제 취미는 다음과 같습니다.
-요리
-등산

안녕하세요, 저는 민수입니다.
저는 22살입니다.
취미는 아직 없습니다.

In [ ]:
fruits = ["사과", "바나나", "오렌지"]
print(fruits)

['사과', '바나나', '오렌지']

In [ ]:
first_fruit = fruits[0]
print(first_fruit)

사과

In [ ]:
fruits[2] = "포도"
print(fruits)

['사과', '바나나', '포도']

In [ ]:
fruits.append("수박")
print(fruits)

['사과', '바나나', '포도', '수박']

In [ ]:
fruits.remove("바나나")
print(fruits)

['사과', '포도', '수박']

In [ ]:
del fruits[0]
print(fruits)

['포도', '수박']

In [ ]:
removelItem=fruits.pop(0)
print(f"지운거={removelItem}")

지운거=포도

In [ ]:
fruits

['수박']

In [ ]:
fruits = ["사과", "바나나", "오렌지"]
print("처음 리스트:", fruits)

print("첫 번재 과일:", fruits[0])

fruits[2] = "포도"
print("변경 후 리스트:", fruits)

fruits.append("수박")
print("추가 후 리스트:", fruits)

fruits.remove("바나나")
print("삭제 후 리스트:", fruits)

처음 리스트: ['사과', '바나나', '오렌지']
첫 번재 과일: 사과
변경 후 리스트: ['사과', '바나나', '포도']
추가 후 리스트: ['사과', '바나나', '포도', '수박']
삭제 후 리스트: ['사과', '포도', '수박']

In [ ]:
cart = ["사과", "바나나", "포도"]
print(len(cart))

3

In [ ]:
cart = []

while True:
    print("\n===== 장바구니 프로그램 ======")
    print("1. 물건 추가")
    print("2. 물건 삭제")
    print("3. 장바구니 보기")
    print("4. 프로그램 종료")

    choice = input("원하는 기능의 번호를 입력하세요: ")
    if choice == "1":
        item = input("추가할 물건의 이름을 입력하세요: ")
        cart.append(item)
        print(f"'{item}'이(가) 장바구니에 추가되었습니다.")
        print(f"현재 장바구니에는 {len(cart)}개의 물건이 있습니다.")
    elif choice == "2":
        if len(cart) == 0:
            print("삭제할 물건이 없습니다.")
        else:
            input("삭제할 물건의 이름을 입력하세요: ")
            if item in cart:
                cart.remove(item)
                print(f"'{item}'이(가) 장바구니에서 삭제되었습니다.")
            else:
                print("장바구니에 없는 물건입니다!")
    elif choice == "3":
        if len(cart) ==0:
            print("장바구니가 비어 있습니다.")
        else:
            print("현재 장바구니 내용:", cart)
            print(f"현재 장바구니에는 {len(cart)}개의 물건이 있습니다.")
    elif choice == "4":
        print("프로그램을 종료합니다. 감사합니다!")
    else:
        print("잘못된 입력입니다! 1~4번 중에서 선택해주세요.")

In [ ]:
import time
# 현재 날짜와 시간을 실수로 보여줌
time.time()

1745295968.9817543

In [ ]:
time.time()

1745295972.7804086

In [ ]:
start = time.time()
lst = []

for i in range(1, 100000001):
    lst.append(i*2)

end = time.time()

print(f"수행시간={end-start}")

수행시간=16.94161581993103

In [ ]:
start = time.time()
com_lst = [i*2 for i in range(1, 100000001)]
end = time.time()
print(f"수행시간={end-start}")

수행시간=7.501636028289795

In [ ]:

numbers = []

for i in range(1,6):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
numbers = [i for i in range(1,6)]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = []
for i in range(1,11):
    if i % 2 == 0:
        even_numbers.append(i)
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
even_numbers = [i for i in range(1,11) if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
scores = [10, -5, 20, -15, 0]

In [ ]:
status = ["음수" if s < 0 else "양수" if s > 0 else "영" for s in scores]
status

['양수', '음수', '양수', '음수', '영']

In [ ]:
status = [s for s in scores if s < 0]
status

[-5, -15]

In [ ]:
scores = [10, -5, 20, -15, 0]

status = []

for s in scores:
    if s > 0:
        status.append("Positive")
    elif s < 0:
        status.append("Negative")
    else:
        status.append("Zero")

print(status)

['Positive', 'Negative', 'Positive', 'Negative', 'Zero']

In [ ]:
scores = [10, -5, 20, -15, 0]

status = ["Positive" if s > 0 else "Negative" if s < 0 else "Zero" for s in scores]
print(status)

['Positive', 'Negative', 'Positive', 'Negative', 'Zero']

In [ ]:
person = {
    "이름": "홍길동",
    "나이": 25,
    "직업": "개발자"
}
print(person)

{'이름': '홍길동', '나이': 25, '직업': '개발자'}

In [ ]:
#person["주소"]

In [ ]:
v1 = person.get("주소", "주소 모름")
print(v1)
v2 = person.get("나이", "나이 모름")
v2

주소 모름

25

In [ ]:
print(person["이름"])
print(person["나이"])

홍길동
25

In [ ]:
person["주소"] = "서울"
print(person)

{'이름': '홍길동', '나이': 25, '직업': '개발자', '주소': '서울'}

In [ ]:
del person["직업"]
print(person)

{'이름': '홍길동', '나이': 25, '주소': '서울'}

In [ ]:
scores = {
    "철수": 85,
    "영희": 92,
    "민수": 78
}

print(scores["영희"])

92

In [ ]:
scores["지수"] = 90
print(scores)

{'철수': 85, '영희': 92, '민수': 78, '지수': 90}

In [ ]:
scores["철수"] = 95
print(scores)

{'철수': 95, '영희': 92, '민수': 78}

In [ ]:
scores = {
    "철수": 85,
    "영희": 92,
    "민수": 78
}

for name in scores:
    print(f"name={name}")

for score in scores.values():
    print(f"score={score}")

for anme, score in scores.items():
    print(f"name={name}, score={score}")

name=철수
name=영희
name=민수
score=85
score=92
score=78
name=민수, score=85
name=민수, score=92
name=민수, score=78

In [ ]:
order = {
    "김철수": {"김치찌개": 1, "불고기": 2},
    "이영희": {"된장찌개": 1, "비빔밥": 1}
}

for customer, menu in order.items():
    print(f"{customer}님의 주문 내역:")

    for food, quantity in menu.items():
        print(f"- {food}: {quantity}개")
    print()

김철수님의 주문 내역:
- 김치찌개: 1개
- 불고기: 2개

이영희님의 주문 내역:
- 된장찌개: 1개
- 비빔밥: 1개

In [ ]:
from datetime import datetime

orders = [
    {"고객명": "철수", "구매일": "2024-01-01"},
    {"고객명": "영희", "구매일": "2023-10-10"}
]

cutoff = datetime.strptime("2024-03-01", "%Y-%m-%d")

inactive_customers = []

for order in orders:
    name = order["고객명"]
    date = datetime.strptime(order["구매일"], "%Y-%m-%d")
    if(cuttoff - date).days > 90:
        inactive_customers.append(name)

print(f"이탈 고객: {inactive_customers}")

이탈 고객: ['영희']