In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv("weight_horsepower_mpg.csv")
df

     weight  horsepower   mpg
0    3504.0       130.0  18.0
1    3693.0       165.0  15.0
2    3436.0       150.0  18.0
3    3433.0       150.0  16.0
4    3449.0       140.0  17.0
..      ...         ...   ...
387  2790.0        86.0  27.0
388  2130.0        52.0  44.0
389  2295.0        84.0  32.0
390  2625.0        79.0  28.0
391  2720.0        82.0  31.0

[392 rows x 3 columns]

In [3]:
X = df[["weight", "horsepower"]]
X

     weight  horsepower
0    3504.0       130.0
1    3693.0       165.0
2    3436.0       150.0
3    3433.0       150.0
4    3449.0       140.0
..      ...         ...
387  2790.0        86.0
388  2130.0        52.0
389  2295.0        84.0
390  2625.0        79.0
391  2720.0        82.0

[392 rows x 2 columns]

In [4]:
X_std = X.std()
X_std

weight        849.40256
horsepower     38.49116
dtype: float64

In [6]:
X_mean = X.mean()
X_mean

weight        2977.584184
horsepower     104.469388
dtype: float64

In [7]:
X = (X - X_mean) / X_std
X

       weight  horsepower
0    0.619748    0.663285
1    0.842258    1.572585
2    0.539692    1.182885
3    0.536160    1.182885
4    0.554997    0.923085
..        ...         ...
387 -0.220842   -0.479835
388 -0.997859   -1.363154
389 -0.803605   -0.531795
390 -0.415097   -0.661694
391 -0.303253   -0.583754

[392 rows x 2 columns]

In [8]:
y = df[["mpg"]]
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
387  27.0
388  44.0
389  32.0
390  28.0
391  31.0

[392 rows x 1 columns]

In [9]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(1, input_shape=[2])
])

In [10]:
model.compile(
    optimizer=tf.keras.optimizers.SGD(learning_rate=0.01),
    loss='mean_squared_error'
)

In [11]:
history = model.fit(X, y, epochs=100)

Epoch 1/100
13/13 [==============================] - 0s 3ms/step - loss: 472.3001
Epoch 2/100
13/13 [==============================] - 0s 3ms/step - loss: 285.1514
Epoch 3/100
13/13 [==============================] - 0s 1ms/step - loss: 175.3346
Epoch 4/100
13/13 [==============================] - 0s 1ms/step - loss: 110.3014
Epoch 5/100
13/13 [==============================] - 0s 998us/step - loss: 72.8751
Epoch 6/100
13/13 [==============================] - 0s 941us/step - loss: 50.4697
Epoch 7/100
13/13 [==============================] - 0s 941us/step - loss: 37.2805
Epoch 8/100
13/13 [==============================] - 0s 927us/step - loss: 29.6446
Epoch 9/100
13/13 [==============================] - 0s 952us/step - loss: 25.1145
Epoch 10/100
13/13 [==============================] - 0s 1ms/step - loss: 22.1419
Epoch 11/100
13/13 [==============================] - 0s 1ms/step - loss: 20.5969
Epoch 12/100
13/13 [==============================] - 0s 1ms/step - loss: 19.6914
Epoch 13/100
13/13 [==============================] - 0s 941us/step - loss: 19.0604
Epoch 14/100
13/13 [==============================] - 0s 891us/step - loss: 18.7088
Epoch 15/100
13/13 [==============================] - 0s 954us/step - loss: 18.3981
Epoch 16/100
13/13 [==============================] - 0s 891us/step - loss: 18.2795
Epoch 17/100
13/13 [==============================] - 0s 881us/step - loss: 18.1928
Epoch 18/100
13/13 [==============================] - 0s 975us/step - loss: 18.1374
Epoch 19/100
13/13 [==============================] - 0s 936us/step - loss: 18.1112
Epoch 20/100
13/13 [==============================] - 0s 893us/step - loss: 18.0736
Epoch 21/100
13/13 [==============================] - 0s 869us/step - loss: 18.0471
Epoch 22/100
13/13 [==============================] - 0s 940us/step - loss: 18.0369
Epoch 23/100
13/13 [==============================] - 0s 979us/step - loss: 18.0380
Epoch 24/100
13/13 [==============================] - 0s 910us/step - loss: 18.0201
Epoch 25/100
13/13 [==============================] - 0s 973us/step - loss: 17.9935
Epoch 26/100
13/13 [==============================] - 0s 936us/step - loss: 18.0005
Epoch 27/100
13/13 [==============================] - 0s 983us/step - loss: 17.9763
Epoch 28/100
13/13 [==============================] - 0s 1ms/step - loss: 17.9648
Epoch 29/100
13/13 [==============================] - 0s 980us/step - loss: 17.9603
Epoch 30/100
13/13 [==============================] - 0s 984us/step - loss: 17.9563
Epoch 31/100
13/13 [==============================] - 0s 937us/step - loss: 17.9496
Epoch 32/100
13/13 [==============================] - 0s 929us/step - loss: 17.9590
Epoch 33/100
13/13 [==============================] - 0s 975us/step - loss: 17.9565
Epoch 34/100
13/13 [==============================] - 0s 982us/step - loss: 17.9416
Epoch 35/100
13/13 [==============================] - 0s 909us/step - loss: 17.9276
Epoch 36/100
13/13 [==============================] - 0s 852us/step - loss: 17.9310
Epoch 37/100
13/13 [==============================] - 0s 958us/step - loss: 17.9289
Epoch 38/100
13/13 [==============================] - 0s 956us/step - loss: 17.9243
Epoch 39/100
13/13 [==============================] - 0s 922us/step - loss: 17.9199
Epoch 40/100
13/13 [==============================] - 0s 886us/step - loss: 17.9158
Epoch 41/100
13/13 [==============================] - 0s 952us/step - loss: 17.9301
Epoch 42/100
13/13 [==============================] - 0s 871us/step - loss: 17.9156
Epoch 43/100
13/13 [==============================] - 0s 947us/step - loss: 17.9167
Epoch 44/100
13/13 [==============================] - 0s 973us/step - loss: 17.9259
Epoch 45/100
13/13 [==============================] - 0s 866us/step - loss: 17.9080
Epoch 46/100
13/13 [==============================] - 0s 875us/step - loss: 17.9108
Epoch 47/100
13/13 [==============================] - 0s 875us/step - loss: 17.8943
Epoch 48/100
13/13 [==============================] - 0s 897us/step - loss: 17.8971
Epoch 49/100
13/13 [==============================] - 0s 897us/step - loss: 17.8961
Epoch 50/100
13/13 [==============================] - 0s 898us/step - loss: 17.8872
Epoch 51/100
13/13 [==============================] - 0s 920us/step - loss: 17.8879
Epoch 52/100
13/13 [==============================] - 0s 917us/step - loss: 17.9061
Epoch 53/100
13/13 [==============================] - 0s 940us/step - loss: 17.8776
Epoch 54/100
13/13 [==============================] - 0s 947us/step - loss: 17.9129
Epoch 55/100
13/13 [==============================] - 0s 929us/step - loss: 17.9005
Epoch 56/100
13/13 [==============================] - 0s 991us/step - loss: 17.8860
Epoch 57/100
13/13 [==============================] - 0s 1ms/step - loss: 17.8907
Epoch 58/100
13/13 [==============================] - 0s 948us/step - loss: 17.9059
Epoch 59/100
13/13 [==============================] - 0s 865us/step - loss: 17.8686
Epoch 60/100
13/13 [==============================] - 0s 982us/step - loss: 17.8841
Epoch 61/100
13/13 [==============================] - 0s 978us/step - loss: 17.8853
Epoch 62/100
13/13 [==============================] - 0s 920us/step - loss: 17.8739
Epoch 63/100
13/13 [==============================] - 0s 978us/step - loss: 17.8890
Epoch 64/100
13/13 [==============================] - 0s 868us/step - loss: 17.8816
Epoch 65/100
13/13 [==============================] - 0s 970us/step - loss: 17.8774
Epoch 66/100
13/13 [==============================] - 0s 986us/step - loss: 17.8855
Epoch 67/100
13/13 [==============================] - 0s 863us/step - loss: 17.8983
Epoch 68/100
13/13 [==============================] - 0s 888us/step - loss: 17.8718
Epoch 69/100
13/13 [==============================] - 0s 976us/step - loss: 17.8690
Epoch 70/100
13/13 [==============================] - 0s 989us/step - loss: 17.9006
Epoch 71/100
13/13 [==============================] - 0s 839us/step - loss: 17.8956
Epoch 72/100
13/13 [==============================] - 0s 1ms/step - loss: 17.8820
Epoch 73/100
13/13 [==============================] - 0s 959us/step - loss: 17.8950
Epoch 74/100
13/13 [==============================] - 0s 828us/step - loss: 17.8791
Epoch 75/100
13/13 [==============================] - 0s 2ms/step - loss: 17.8808
Epoch 76/100
13/13 [==============================] - 0s 1ms/step - loss: 17.8898
Epoch 77/100
13/13 [==============================] - 0s 968us/step - loss: 17.8793
Epoch 78/100
13/13 [==============================] - 0s 982us/step - loss: 17.8656
Epoch 79/100
13/13 [==============================] - 0s 983us/step - loss: 17.8686
Epoch 80/100
13/13 [==============================] - 0s 928us/step - loss: 17.8596
Epoch 81/100
13/13 [==============================] - 0s 889us/step - loss: 17.8664
Epoch 82/100
13/13 [==============================] - 0s 944us/step - loss: 17.8733
Epoch 83/100
13/13 [==============================] - 0s 901us/step - loss: 17.8719
Epoch 84/100
13/13 [==============================] - 0s 877us/step - loss: 17.8776
Epoch 85/100
13/13 [==============================] - 0s 929us/step - loss: 17.8567
Epoch 86/100
13/13 [==============================] - 0s 1ms/step - loss: 17.8644
Epoch 87/100
13/13 [==============================] - 0s 968us/step - loss: 17.8776
Epoch 88/100
13/13 [==============================] - 0s 876us/step - loss: 17.8753
Epoch 89/100
13/13 [==============================] - 0s 929us/step - loss: 17.8738
Epoch 90/100
13/13 [==============================] - 0s 869us/step - loss: 17.8788
Epoch 91/100
13/13 [==============================] - 0s 959us/step - loss: 17.8855
Epoch 92/100
13/13 [==============================] - 0s 889us/step - loss: 17.8836
Epoch 93/100
13/13 [==============================] - 0s 939us/step - loss: 17.8795
Epoch 94/100
13/13 [==============================] - 0s 968us/step - loss: 17.8727
Epoch 95/100
13/13 [==============================] - 0s 882us/step - loss: 17.8778
Epoch 96/100
13/13 [==============================] - 0s 1ms/step - loss: 17.8811
Epoch 97/100
13/13 [==============================] - 0s 945us/step - loss: 17.8608
Epoch 98/100
13/13 [==============================] - 0s 986us/step - loss: 17.8759
Epoch 99/100
13/13 [==============================] - 0s 927us/step - loss: 17.8632
Epoch 100/100
13/13 [==============================] - 0s 939us/step - loss: 17.8792

In [13]:
a_values = model.layers[0].weights[0].numpy().flatten()
b_values = model.layers[0].weights[1].numpy()[0]

print(f"학습된 기울기 a1 (무게에 대한 계수): {a_values[0]:.4f}")
print(f"학습된 기울기 a2 (마력에 대한 계수): {a_values[1]:.4f}")
print(f"학습된 절편 b: {b_values:.4f}")

학습된 기울기 a1 (무게에 대한 계수): -4.8891
학습된 기울기 a2 (마력에 대한 계수): -1.8749
학습된 절편 b: 23.4524

In [14]:
new_input = pd.DataFrame([[100, 200]], columns=["weight", "horsepower"])
new_input

   weight  horsepower
0     100         200

In [15]:
new_input = (new_input - X_mean) / X_std
new_input

     weight  horsepower
0 -3.387774    2.481884

In [16]:
predicted_mpg = model.predict(new_input)

print(f"\n예측된 연비(MPG): {predicted_mpg}")

1/1 [==============================] - 0s 64ms/step

예측된 연비(MPG): [[35.36203]]